doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="shortcut icon" href="/favicon.png" type="image/png" sizes="32x32")
    title 真的假的 API
  body
    h1 Cofacts 真的假的 API server
    p
      a(href="/graphql") <strong>graphiql &amp; Docs</strong>
      | ・
      a(href="https://beta.hackfoldr.org/1yXwRJwFNFHNJibKENnLCAV5xB8jnUvEwY_oUq-KcETU/https%253A%252F%252Fhackmd.io%252Fs%252Fr1nfwTrgM") Developer quickstart
      | ・
      a(href="https://github.com/cofacts") Github
      | ・
      a(href="http://cofacts.org") Website


    h2 Cofacts Data User Agreement
    p
    | Access data via this API means that you accept #[a(href="https://github.com/cofacts/rumors-api/blob/master/LEGAL.md") Cofacts data user agreement].
    p
    | Please contact Cofacts WG to express your consent and apply for a client application in order to get #[code app-id] and #[code app-secret].
    | See #[a(href="https://github.com/cofacts/rumors-api/blob/master/LEGAL.md") Cofacts data user agreement] for the detail of application.

    h2 Using this API
    p
    | Cofacst API is a GraphQL server.
    | You can visit #[a(href="/graphql") #[code /graphql]] endpoint for GraphQL playground.
    | Send #[code POST] requests to #[code /graphql] endpoint to use the API.
    | You can refer to #[a(href="https://www.apollographql.com/blog/4-simple-ways-to-call-a-graphql-api-a6807bcdb355/") this blog post by Apollo] if you are new to GraphQL.

    p After getting your #[code app-secret] you can test out Cofacts API in CLI using this command:
    pre.
      curl -X POST -H "Content-Type: application/json" \
      -H "x-app-secret: &lt;Your App Secret&gt;" \
      --data '{ "query": "{ ListArticles { totalCount } } " }' \
      #{hostName}/graphql

    p The command above should give you the total number of articles (reported messages) currently in the database, in JSON format:
    pre.
      {"data":{"ListArticles":{"totalCount":43835}}}

    h2 GraphQL Schema
    code
      pre= schemaStr
