doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="shortcut icon" href="/favicon.png" type="image/png" sizes="32x32")
    title 真的假的 API
  body
    h1 Cofacts 真的假的 API server
    p
      a(href="/graphql") <strong>graphiql &amp; Docs</strong>
      | ・
      a(href="https://beta.hackfoldr.org/1yXwRJwFNFHNJibKENnLCAV5xB8jnUvEwY_oUq-KcETU/https%253A%252F%252Fhackmd.io%252Fs%252Fr1nfwTrgM") Developer quickstart
      | ・
      a(href="https://github.com/cofacts") Github
      | ・
      a(href="http://cofacts.org") Website


    if license
      h2 Terms of Use
      p
      | Data provided by this API is distributed under CC BY-SA 4.0 license.
      | You must agree with the #[a(href="") data license]
      | and conform the attribution share-alike conditions in order to use the data provided by this API.
      p As a Cofacts API user, you must send following HTTP header and value to the API to express your consent:
      code
        pre x-accept-license: #{license}

    h2 GraphQL Schema
    code
      pre= schemaStr
