doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="shortcut icon" href="/favicon.png" type="image/png" sizes="32x32")
    title 真的假的 API
  body
    h1 真的假的 API server
    p
      a(href="/graphql") <strong>graphiql &amp; Docs</strong>
      | ・
      a(href="http://beta.hackfoldr.org/rumors") Project Hackfoldr
      | ・
      a(href="https://github.com/MrOrz/rumors-api") API server Github
      | ・ 
      a(href="http://rumors.hacktabl.org") Website
      | ・
      a(href="https://line.me/R/ti/p/%40dnd9457r") Line bot
  
    
    h2 GraphQL Schema
    code
      pre= schemaStr
